.contact-form-wrapper {
	input,
	textarea {
		border: 1px solid #ced4da;
	}
	.af-input.acf-input textarea {
		font-size: 1.125rem;
	}
	.acf-fields>.acf-field {
		border-top: 0;
		padding: 15px 0;
		input {
			height: calc(1.5em + 1.75rem);
			font-size: 1.125rem;
		}
	}
	.acf-form-submit {
		button {
			border: 0 !important;
			width: 100%;
			text-transform: uppercase;
			background-color: $orange;
			color: #fff;
			border-radius: 0;
			@extend .btn;
			@extend .btn-lg;
			&:hover {
				color: #eaeaea;
			}
		}
	}
}

.post-type-archive-userforms {
	.card:hover {
		text-decoration: none;
		h2 {
			text-decoration: underline;
		}
	}
}