$primary-color: #2e3e51;

$admin-font-family: 'Montserrat', sans-serif;
$admin-text-color: $primary-color;

// ADMIN BARS 
$admin-sidebar-width: 240px;
$admin-bars-bg: $primary-color;
$admin-bars-icon-color: #F7941D;

// FOOTER 
$admin-footer-bg: $primary-color;
$admin-footer-text-color: #ffffff;

// PLUGINS 

$plugin-active-highlight-bg:#e3f4f9;
