.contact-form-wrapper {
	input,
	textarea {
		border: 1px solid #ced4da;
	}
	.acf-fields>.acf-field {
		border-top: 0;
		input {
			height: calc(1.5em + 0.75rem + 2px);
		}
	}
	.acf-form-submit {
		margin-left: 10px;	
		button {
			border: 0 !important;
			text-transform: uppercase;
			background-color: $orange;
			color: #fff;
			border-radius: 0;
			@extend .btn;
			@extend .btn-lg;
			&:hover {
				color: #eaeaea;
			}
		}
	}
}

.post-type-archive-userforms {
	.card:hover {
		text-decoration: none;
		h2 {
			text-decoration: underline;
		}
	}
}